<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://20.219.145.48:3000/static/signUp/fonts/icomoon/style.css">
    <link rel="stylesheet" href="http://20.219.145.48:3000/static/signUp/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://20.219.145.48:3000/static/signUp/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="http://20.219.145.48:3000/static/signUp/css/style.css">
    <title>Movie</title>
    <script src="http://20.219.145.48:3000/static/signUp/views.signUp.js"></script>
</head>

<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('http://20.219.145.48:3000/static/signUp/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>Sign Up to <strong style="color: green;">Movie</strong></h3>
                        <p class="mb-4"></p>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" placeholder="ABC XYZ" id="fullname">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Your Email" id="email">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Your Password" id="password">
                            </div>

                            <input type="button" onclick="signUp()" value="Sign Up" class="btn btn-block btn-primary">
                            <input type="button" onclick="login()" value="Log In" class="btn btn-block btn-primary">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://20.219.145.48:3000/static/signUp/js/jquery-3.3.1.min.js"></script>
    <script src="http://20.219.145.48:3000/static/signUp/js/popper.min.js"></script>
    <script src="http://20.219.145.48:3000/static/signUp/js/bootstrap.min.js"></script>
    <script src="http://20.219.145.48:3000/static/signUp/js/main.js"></script>
</body>

</html>